# Training-related files
melo/train.py
melo/train.sh
melo/losses.py


# Utility files not used in current project
melo/app.py
melo/infer.py

# data file
melo/data/

# Test files
test/

# Documentation and misc
docs/
*.md
LICENSE
logo.png
